.navbar{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.navbar h1{
    color: goldenrod;
}
.navbar nav ul{
    display: flex;
}
li{
    list-style: none;
}
a,span{
    text-decoration: none;
    color:lightseagreen !important;
    margin:0 10px;
}
.active{
    color:red !important;
}